body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(background.png);
    background-size: 100%;
    background-position: center top;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.container img{
  border-radius: 50%;
  border: 2px solid white;
  width: 100px;
  height: 100px;
  animation: avatar 1s, avatarMove 1s;
  animation-delay: 0s, 1s;
  animation-fill-mode: forwards;
   
}

.container span{
    font-size: 80px;
    color:rgb(83, 70, 119);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    /*left: calc(50% - 100px);*/
    visibility: hidden;
    animation: showTitle 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
   
}

.box{
    position:relative;
    font-size: 30px;
    color:rgb(253, 252, 201);
    top:150px;
    left:-70px;
    font-family: Arial, Helvetica, sans-serif;
    animation: showTitle 2.5s linear infinite;  
}


.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background: var(--primary-color);
  color: #fff;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
  border-bottom: 1px solid #333;
}


/*flash*/
@keyframes avatar{
    0%{
      transform: scale(0,0) rotate(0deg);
    }
    50%{
      transform: scale(1,1) rotate(180deg);
    }
    70%{
      transform: scale(0.7,0.7) rotate(270deg);
    }
    100%{
      transform: scale(1,1) rotate(-360deg);
    }
}
@keyframes avatarMove{
    0%{
      transform: translate(0,0);
    }
    100%{
      transform: translate(-200px,0);
    }
}
@keyframes showTitle{
    0%{
      opacity: 0;
      visibility:visible; 
    }
    20%{
      opacity: 0.2;
      visibility:visible;
       
    }
    40%{
      opacity: 0.4;
      visibility:visible;
       
    }
    60%{
      opacity: 0.6;
      visibility:visible; 
    }
    80%{
      opacity: 0.8;
      visibility: visible;
    }
    100%{
      opacity: 1;
      visibility: visible;
    }
}


@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
